#config {TINTIN CHAR} /
/var myname lover
/var myname_cn 情人
/nop session $myname sh.fengyun.com 6666
/nop session $myname fy.hbisp.com 3333
/nop session $myname china.fengyun.com 6000
/nop session $myname fy.sysfon.com 6000
/nop session $myname main.fengyun6666.com 6666
/session $myname 121.40.128.202 6666
/al tchat {/ticker {checkchat}{/if {$is_kill==0 && $is_walk==0}{checkchat}}{120}}
/al ntchat {/unticker {checkchat}}
/act {^请选择您使用的内码}{0}
/act {^您的英文名字：} {$myname}
/al reload {/read lover.tt}
/ac {此英文名字已被使用，请输入此帐号的密码}{Sea123}
/ac {^请敲回车键［ＲＥＴＵＲＮ］}{/cr;/ticker {noidle}{lure;}{280};hp}
/ac {^重新连线完毕。}{/cr;/ticker {noidle}{lure}{280};hp}
/ac {^#SESSION '%0' DIED.}{/read %0.tt}
/ac {^#SESSION '%0' ACTIVATED.}{/read %0.tt}
/ac {^【闲聊】%0(%1)}{/var temp1 %0;/if {"$temp1" == "天机老人"}{uptime_do;uptimedo ok}{/line log ../chat-$myname.log }{plain}}
/ac {^  帝王谷%0护士(Nurse)}{give nurse silver;tget 30 silver}
/nop  enablemove {enable move anxiang-steps}
/al enablemove {enable move cloud-lover}
/al movenone {enable move none}
/al jd {th jd $myname}
/nop al buff {wwa exert jingyingchangkong $myname;enablemove;perform iron-cloth.bingwantianzhang}
/al buff {wwa exert jingyingchangkong $myname;enablemove;perform iron-cloth.yingyueliuhui}
/ac {^你所受到的春水罗衫·冰纨天障的效用消失了}{/if {$is_kill==1}{perform iron-cloth.bingwantianzhang;/delay {2}{perform iron-cloth.bingwantianzhang}}}
/ac {^你停止保护你的丈夫}{baohu tank}
/al ki {set target %0;buff;/delay {4.2}{wim;kill %0}}
/nop al ki {set target %0;buff;enforce 70;/delay {2.6}{buff;kill %0}}
/var ok_j 1
/var ok_jj 1
/al init {/var ok_j 1;/var ok_jj 1;}
/al busy_j {/if {$ok_j==1}{perform dodge.yexuechuji}{
                /if {$ok_jj==1}{wianqi;perform tanzhijinghun}
                }
            }
/ac {^你的身影忽然变得朦胧}{/var ok_j 0;/delay {18}{/var ok_j 1;}}
/ac {^你身影如旋风般舞动}{/var ok_jj 0;/delay {18}{/var ok_jj 1;}}
/ac {^你双袖一扬}{/if {$npc_busy==1}{/var npc_busy 0};de05 {/ticker {kill} {busy_j} {6.2}};}
/nop al kkk {j;k;/delay {6.2}{jj};/delay {8.3}{k};/delay {15.5}{perform dodge.chunxin}}
/nop kkk {j;/delay {7}{unwi all;wi piece;perform tanzhijinghun;unwi piece;wi jade;wi short sword}}
/al kkk {j;/delay {8}{wianqi;perform tanzhijinghun}}
/nop startk {nwlk;iskill;kkk;/ticker {kill} {kkk} {18.5}}
/al startk {iskill;busy_j;/ticker {kill} {busy_j} {6.2}}
/al stopk {init;movenone;/unticker {kill};nokill}
/al pausek {
    /unticker kill;
    de8 startk;
    }
/ac {^你对著%0！今日不是你死就是我活！} {iskill;startk;}
/ac {^你对著%0说道：在下%1，领教壮士的高招！}{iskill;kkk;startk}
/ac {^『夜雪初积』只能对战斗}{/if {$is_kill==1}{stopk;tcks}}
/ac {^『弹指惊魂』只能对战}{/if {$is_kill==1}{stopk;tcks}}
/ac {^『漫天花雨』只能对战斗}{/if {$is_kill==1}{stopk;tcks}}
/ac {^雪里春信只能在战斗}{/if {$is_kill==1}{stopk;tcks}}
/ac {^你所选用的武功中没有这种必杀技。}{get needle;wim}
/al busy_p {/if {$is_kill==1 && $npc_busy==1}{wianqi;perform mantianhuayu}}
/al busy_p {wisword}
/al wim {unwi all;wi needle;wi short sword}
/al sha_shen {
    /al wim {unwi all;wi jade;wi short sword};
   /if {$ok_zx==1}{
    /nop busy_p {/if {$is_kill==1 && $npc_busy==1}{unwi all;perform zhaixin;wi jade;wi short sword}}
    /al busy_p {/if {$is_kill==1 && $npc_busy==1}{perform dodge.zhaixin;}}
    }{
    unwi needle;wi jade;
    }
}
/al sha_xue {
    /al wim {unwi all;wi needle;wi short sword};
    /al busy_p {/if {$is_kill==1 && $npc_busy==1}{wianqi;perform mantianhuayu}}
}
/var ok_zx 1;
/ac {^你面色变得惨白如纸}{/var ok_zx 0;/delay {1800}{/var ok_zx 1}}
/ac {^你还需要等待%1分钟左右才能再次使用摘心式。}{
  /var ok_zx 0;
  /var zx_wait %1;  
  /math zx_wait {$zx_wait*60};
  /delay {$zx_wait}{/var ok_zx 1};
}
/read comm/gag.sc
/read comm/path.sc
/read comm/normal.sc
/read comm/quest.sc
/read comm/team/team4.sc
/read comm/team/teamb.sc
/read comm/status.sc
/read comm/autorecover.sc
/read comm/combat_busy.sc
/read comm/combat_wuqi.sc
/read comm/debuff.sc
/read comm/tianji.sc
/read comm/team/team4.sc
/nop read hb.tin
/nop log o $myname.log
/nop ac {^【新手】} {/line log chat-$myname.log}{text}
/al hxdazuo {exercise 300;hh;/delay {2.1}{dazuo}}
/al hx {hh}
/ac {^你的真气不够。}{/if {$is_kill==0 && $is_walk==0}{exercise 500;hn}}
/ac {^你所受到的%0效用消失了}{/if {$is_kill==0  || $is_walk==0}{}{j;jj;jjj}}
/al fy2zt {fy2ztv}
/unac {^然而，%1已经死了}{cks}
/ac {^你身边冰壁逐渐溶解}{/if {$is_kill==0  || $is_walk==0}{}{h;/delay {4}{h}}}
/ac {^( 你气喘嘘嘘}{hh;de1 hh}
/ac {^( 你似乎十分疲惫}{hh;hhh;de2 {hh;hhh}}
/ac {^( 你头重脚轻，正在勉力支撑)}{pausek;hhh;/delay {1}{hhh;hh};/delay {3}{hhh;hh}}
/ac {^( 你摇头晃脑、歪歪斜斜}{pausek;hhh;/delay {1}{hhh};/delay {3}{hhh;hh;cks}}
    /ac {^( 你已经陷入半昏迷状态}{pausek;jjj;hhh;/delay {1}{jjj;hhh};/delay {3}{jjj;hhh;hh;cks}}
/ac {^( 硬气喘嘘嘘}{hh hard;/delay {1}{hh hard}}
    /ac {^( 硬似乎十分疲惫}{hh hard;/delay {1}{hh hard}}
        /ac {^( 硬头重脚轻}{pausek;hh hard;/delay {hh hard};/delay {3}{hh hard}}
            /ac {^( 硬摇头晃脑}{pausek;hhh hard;/delay {1}{hhh hard};/delay {3}{hhh hard}}
                /ac {^( 硬已经陷入半昏迷状态}{pausek;hhh hard;/delay {1}{hhh hard};/delay {3}{hhh hard}}
                    /ac {^( 坦克气喘嘘嘘}{hhh tank;/delay {1}{hhh tank}}
                        /ac {^( 坦克似乎十分疲惫}{hhh tank;/delay {1}{hhh tank}}
                            /ac {^( 坦克头重脚轻}{pausek;hh tank;/delay {hh tank};/delay {3}{hh tank}}
                                /ac {^( 坦克摇头晃脑}{pausek;hh tank;/delay {1}{hh tank};/delay {3}{hh tank}}
                                    /ac {^( 坦克已经陷入半昏迷状态}{pausek;hh tank;/delay {1}{hh tank};/delay {3}{hh tank}}
                                        /ac {^( 金枪不倒气喘嘘嘘}{hhh gun;/delay {1}{hhh gun}}
                                            /ac {^( 金枪不倒似乎十分疲惫}{hhh gun;/delay {1}{hhh gun}}
                                                /ac {^( 金枪不倒头重脚轻}{pausek;hh gun;/delay {hh gun};/delay {3}{hh gun}}
                                                    /ac {^( 金枪不倒摇头晃脑}{pausek;hh gun;/delay {1}{hh gun};/delay {3}{hh gun}}
                                                        /ac {^( 金枪不倒已经陷入半昏迷状态}{pausek;hh gun;/delay {1}{hh gun};/delay {3}{hh gun}}
                                                            /ac {^( 明月气喘嘘嘘}{hh mingyue;/delay {1}{hh mingyue}}
                                                                /ac {^( 明月似乎十分疲惫}{hh mingyue;hhh mingyue;/delay {1}{hh mingyue;hhh mingyue}}
                                                                    /ac {^( 明月头重脚轻}{pausek;hhh mingyue;/delay {hhh mingyue};/delay {3}{hhh mingyue;hh mingyue}}
                                                                        /ac {^( 明月摇头晃脑}{pausek;hhh mingyue;/delay {1}{hhh mingyue};/delay {3}{hhh mingyue;hh mingyue}}
                                                                            /ac {^( 明月已经陷入半昏迷状态}{pausek;hhh mingyue;/delay {1}{hhh mingyue};/delay {3}{hhh mingyue;hh mingyue}}
                                                                                /ac {^( 清辉气喘嘘嘘}{hh qinghui;/delay {1}{hh qinghui}}
                                                                                    /ac {^( 清辉似乎十分疲惫}{hh qinghui;hhh qinghui;/delay {1}{hh qinghui;hhh qinghui}}
                                                                                        /ac {^( 清辉头重脚轻}{pausek;hhh qinghui;/delay {hhh qinghui};/delay {3}{hhh qinghui;hh qinghui}}
                                                                                            /ac {^( 清辉摇头晃脑}{pausek;hhh qinghui;/delay {1}{hhh qinghui};/delay {3}{hhh qinghui;hh qinghui}}
                                                                                                /ac {^( 清辉已经陷入半昏迷状态}{pausek;hhh qinghui;/delay {1}{hhh qinghui};/delay {3}{hhh qinghui;hh qinghui}}
/al getitem {
    pick needle;
    ga cactus bonsai;
   stack;
   remove all;
   retrieve 4052;
  retrieve 3975;
  retrieve 8237;
  retrieve 9765;
  retrieve 1272;
  wear all
 }
/var team_header lover;
/var team_header_cn {舞};
/var teamer_1 mingyue;
/var teamer_1_cn {明月};
/var teamer_2 qinghui;
/var teamer_2_cn {清辉};
/var teamer_3 none;
/var helper lover;
/var healer_1 lover;
/al do_corpse {wim;busy_j;de4 {/if {$is_kill==1}{busy_j}};de6 {/if {$is_kill==1}{busy_j;kk}}}
/ac {死了。}{
    de2 {get baoxiang;x baoxiang};
    do_corpse;
    l corpse;
            }
/ac {^---busy_npc:random}{/var npc_busy 1;de4 {/var npc_busy 0};}
/ac {说道：---find_busy:%1:}{/var npc_busy 1;de4 {/var npc_busy 0};}
