#config {TINTIN CHAR} /
/var myname miii
/nop session $myname sh.fengyun.com 6666
/nop session $myname fy.hbisp.com 3333
/nop session $myname china.fengyun.com 6000
/nop session $myname fy.sysfon.com 6000
/session $myname main.fengyun6666.com 6666
/al tchat {/ticker {checkchat}{/if {$is_kill==0 && $is_walk==0}{checkchat}}{120}}
/al ntchat {/unticker {checkchat}}
/act {^请选择您使用的内码}{0}
/act {^您的英文名字：} {$myname}
/al reload {/read miii.tt}
/ac {此英文名字已被使用，请输入此帐号的密码}{Sea123}
/ac {^请敲回车键［ＲＥＴＵＲＮ］}{/cr;/ticker {noidle}{lure;}{280}}
/ac {^重新连线完毕。}{/cr;/ticker {noidle}{lure}{280}}
/ac {^#SESSION '%0' DIED.}{/read %0.tt}
/ac {^#SESSION '%0' ACTIVATED.}{/read %0.tt}
/al enablemove {enable move anxiang-steps}
/al movenone {enable move none}
/al jd {th jd $myname}
/al wim {wi needle;wi piece}
/al buff {baohu tank;wim;perform iron-cloth.bingwantianzhang}
/ac {^你所受到的春水罗衫·冰纨天障的效用消失了}{/if {$is_kill==1}{perform iron-cloth.bingwantianzhang;/delay {2}{perform iron-cloth.bingwantianzhang}}}
/ac {^你所选用的武功中没有这种必杀技。}{get piece;wim}
/read comm/gag.sc
/read comm/path.sc
/read comm/normal.sc
/read comm/quest.sc
/read comm/team/team4.sc
/read comm/status.sc
/nop read hb.tin
/nop log o $myname.log
/al hxdazuo {exercise 300;hh;/delay {2.1}{dazuo}}
/al hx {hh}
/ac {^你的真气不够。}{/if {$is_kill==0 && $is_walk==0}{exercise 500;hn}}
/ac {^你所受到的%0效用消失了}{/if {$is_kill==0  || $is_walk==0}{}{j;jj;jjj}}
