#config {TINTIN CHAR} /
/var myname offical 
/var myname_cn 官
/var passwd Sea123
/nop session $myname sh.fengyun.com 6666
/nop session $myname 117.135.143.81 6666
/nop session $myname china.fengyun.com 6000
/nop session $myname fy.sysfon.com 6000
/session $myname main.fengyun6666.com 6666
/read comm/login.sc
/read comm/normal.sc
/read comm/gag.sc
/read comm/path.sc
/read comm/quest.sc
/read comm/status.sc
/read comm/team/team4.sc
/read comm/team/teamb.sc
/read comm/autorecover.sc
/al dian {do unwield all,perform finger.dian,wield blade2,wield blade}
/read comm/pet.sc
/var petname xgwy
/ac {^│年龄：三岁                            │运气：%s%1/}{
    /var pyunqi %1;
    de1 {/showme pcaizhi =$pcaizhi pyunqi =$pyunqi};
    /if {$pcaizhi <14 || $pyunqi <14}{
    /nop dismissp $petname;
    /nop de2 yangcw
    }
}
/var haspet 0
/ac {^你一脚踢在小}{/var haspet 1;score $petname;hp}
/al yangcw {
    /var haspet 0;
    withdraw 50000;de3 {withdraw 50000};
    de6 {yang monkey $HIY$ 小公务员 xgwy};
    de8 whistle;
    de10 {kick $petname};
    de11 {/if {$haspet==1}{score $petname;hp}};
    }
/ac {^│种族：野兽  性别：雄性  民族：本地生  │才智：%s%1/}{
/var pcaizhi %1;
}
/ac {^你的护卫状态不佳，无法发动『七星斩将陣』}{kill $target;}
/ac {^『七星斩将阵』只能在战}{sk}
/ac {^『纵横天下』只能对战}{sk}
/ac {^『玉环鸳鸯拳』只能对战}{sk}
/ac {^你需要等待片刻（%1秒）才能再次变幻阵法。}{/delay {%1}{kk}}
/ac {^你接道：“百鬼夜狂”。}{de1 {perform unarmed.yuhuan}}
/al stopk {
        /showme {----kill 变量重置};
        nokill;
        /unticker {kill};
        /var qieok 1;
        /var qieok_t 0;
        /nop var bgok_t 0;
        /var mhok 1;
        /var qienpc 0;
        /var fdok 0;
        /var haskill 0;
        /var haspo 0;
        /var haszm 0;
        /undelay {checkbg};
        }
/al sk {stopk;cks}
/al buff {wi spear;perform dodge.san}
/al buff2 {perform dodge.er}
/nop al ki {wh;buff;buff2;set target %0;/var target %0;de1 {wpet;do gongji %0,kill %0;startk};}
/al ki {buff;buff2;set target %0;/var target %0;de2 {kill %0;k;startk;}}
/al pk {performp tianwaifeixian}
/al startk {/ticker {kill}{pk;wh;do perform spear.likangqunmo,perform dodge.qi}{4.1}}
/al k {perform zonghengtianxia};
/al startk {/ticker {kill}{k}{4.2}}
/ac {^你挥动手中银枪，但见身后护卫移形换位}{de8 kk}
/ac {^你对著%0！今日不是你死就是我活！} {de2 iskill;}
/ac {^小公务员纵身越到了}{pk}
/al kb {ki bandit;/delay {2}{do kill bandit 2,kill bandit 3,kill bandit 4,kill bandit leader}}
/al checkkill {perform blade.gobankiri;perform blade.leidianjiaohong}
/ac {^然而，%1已经死了}{cks;/if {$is_kill==1}{checkkill}}
/ac {^你现在不可以吹口哨。}{}
/ac {^你对%1一指，对小公务员命令}{kill $target}
/ac {^  小公务员的尸体(Corpse)}{wh}{4}
/ac {^你轻轻地吹了声口哨。}{/if {$is_kill==1}{de1 {wpet;gongji $target}}}
/ac {递给你一张怜花宝籍碎页。}{do give duan book,give duan book}
/al fy2zt fy2ztv
/al zt2fy ztv2fy
