#config {TINTIN CHAR} /
/var myname wandao
/nop session $myname sh.fengyun.com 6666
/nop session $myname 117.135.143.81 6666
/nop nop session $myname fy.sysfon.com 6000
/session $myname 124.193.186.169 6000
/al tchat {/ticker {checkchat}{/if {$is_kill==0 && $is_walk==0}{checkchat}}{120}}
/al ntchat {/unticker {checkchat}}
/act {^请选择您使用的内码}{0}
/act {^您的英文名字：} {$myname}
/ac {此英文名字已被使用，请输入此帐号的密码}{Sea123}
/ac {^请敲回车键［ＲＥＴＵＲＮ］}{/cr;/ticker {noidle}{xixi;}{280}}
/ac {^重新连线完毕。}{/cr;/ticker {noidle}{hehe}{280}}
/ac {^#SESSION '%0' DIED.}{/read %0.tt}
/ac {^#SESSION '%0' ACTIVATED.}{/read %0.tt}
/al reload {/read wandao.tt}
/nop log o ../wandao.log
/log a ../wandao.log
/ac {^【新手} {/line {log} ../newwandao.log}
/ac {^【传闻} {/line {log} ../newwandao.log}
/ac {^%1回答%2：} {/line {log} ../newwandao.log}
/ac {^%1(%2)告诉你：} {/line {log} ../newwandao.log}
/ac {^你告诉} {/line {log} ../newwandao.log}
/ac {^你回答} {/line {log} ../newwandao.log}
/read comm/gag.sc
/read comm/normal.sc
/read comm/path.sc
/nop read comm/moonbuff_hc.sc
/read comm/quest.sc
/read comm/status.sc
/read comm/pet.sc
/read comm/autorecover_hc.sc
/read comm/juezhao.sc
/read comm/combat.sc
/al juezhao {;}
/var jqs_lost_limit 0.1
/al hx {drink dai}
/ac {^沁骨的冰凉流入喉咙}{stopk;de2 cks}
/al hxdazuo {exercise 300;hh;/delay {2.1}{dazuo}}
/nop al wpet {order wield blade}
/al wpet {order wear all}
/al wp wpet
/var haspet 0
/var petname xwd 
/var haspk 0
/var haspj 0
/al pj {/if {$haspet==1}{performp freeze}}
/al pj {/if {$haspj==0 && $haspet==1}{performp freeze}}
/al pjj {/if {$haspj==1 && $haspet ==1}{performp canglongzhaxian;/showme ---freeze faill--try to busy}}
/al pjj {/if {$haspet==1}{performp canglongzhaxian;/showme ---pet -try to busy}}
/al pk {/if {$haspet ==1}{do order wield all,performp sharenruma,order unwield all;/showme --pet pf sword ---sharenruma---}}
/ac {将周身凝聚的冰块震得粉碎！！}{/var haspj 0;pj}
/var haspj 0
/ac {^小弯刀左手虚握，形成一团奇冷}{/var haspet 1;/var haspj 1}
/ac {^但是被%1机灵地躲开了。}{/var haspj 1;/var haspet 1;de5 {/var haspj 0;pj;pjj};}
/ac {^但是被%1机灵地躲开了。}{/var haspj 1;/var haspet 1;de4 {/var haspj 0;};}
/ac {^奇冷的寒气包围了}{/var haspj 1;/var haspet 1;pjuezhao;de4 {/var haspj 0};/delay {4}{pk};/showme ============ freeze ===========}
/var hasblade 0
/var hasanqi 0
/var hashand 0
/var hasfushou 0
/al iblade {/var hasblade 1;/var hasanqi 0;/var hashand 0; /showme iblade;}
/al noblade {/var hasblade 0; /showme noblade;}
/al ianqi {/var hasanqi 1;/var hasblade 0;/var hashand 0; /showme ianqi;}
/al noanqi {/var hasanqi 0;/showme noanqi;}
/al ihand {/var hashand 1;/var hasanqi 0;/var hasblade 0; /showme ihand;}
/al nohand {/var hashand 0; /showme nohand;}
/al ifushou {/var hasfushou 1;/showme ifushou;}
/al nofushou {/var hasfushou 0;/showme nofushou;}
/ac {^你抽出一把明晃晃的圆月弯刀}{iblade}
/ac {^你装备神之祝福宝刀}{iblade}
/ac {^你放下手中的神之祝福宝刀}{noblade}
/ac {^你装备%0棋子作武器}{ianqi}
/ac {^你将仙人刺握在手中}{ianqi}
/ac {^你放下手中的圆月弯刀}{noblade}
/ac {^你放下手中的刀鞘}{nofushou}
/ac {^你抽出一把明晃晃的刀鞘}{ifushou}
/ac {^你放下手中的%0棋子}{noanqi}
/ac {^你放下手中的仙人刺}{noanqi}
/ac {^  √圆月弯刀(jade2)}{iblade}
/ac {^  √神之祝福宝刀(zhufu blade)}{iblade}
/ac {^  √%0(go piece)}{ianqi}
/ac {^  √%0(cactus needle)}{ianqi}
/ac {^  √刀鞘(jade)}{ifushou}
/ac {^    刀鞘(jade)}{nofushou}
/al wifushou {/if {$hasfushou==0}{wi jade}}
/al wihand {wifushou;/if {$hashand==0}{unwi all}}
/al wiblade {/if {$hasblade==0}{unwi piece;unwi needle;/if {$cutshen==0}{wi zhufu blade}{unwi blade;wi jade2}};reffs}
/al wianqi {/if {$hasanqi==0}{do unwield jade2,unwield blade,wield needle;reffs}}
/al buff {ld;bf1;/delay {4.1}{bf2;bf3;bf4;bf5;bf6;bf7}}
/al buff {ld;exert powerup;/delay {4.1}{bf2;perform dodge.hanxueliulan}}
/al buff {perform dodge.shuangtianxuewu;perform dodge.hanxueliulan;exert powerup;}
/al buff {perform dodge.shuangtianxuewu;perform dodge.hanxueliulan;wf;bpjb}
/al wf {/if {$wfok==1}{cast wufangbianhuan}}
/var wfok 1
/ac {^你还需等待%1秒钟左右才能再次施出『无方变幻』}{/var wfok 0;/delay {%1}{/var wfok 1}}
/var bpjbok 1
/al bpjb {/if {$bpjbok==1 && $is_walk==0}{exert bingpojingbi}}
/ac {^『冰魄晶壁』还需要等待%1秒钟。}{/var bpjbok 0;/delay {%1}{/var bpjbok 1}}
/ac {^你运转心诀，层层寒雾在身边笼聚}{/var bpjbok 0;/delay {60}{/var bpjbok 1}}
/ac {^你身边冰壁逐渐溶解}{/var bpjbok 1;/if {$is_kill==1}{bpjb}}
/al stxw {perform dodge.shuangtianxuewu}
/ac {^你所受到的天岚凝舞·霜天雪舞的效用消失了。}{/if {$is_kill==1}{perform dodge.shuangtianxuewu}}
/ac {^你所受到的天岚凝舞·寒雪流岚的效用消失了。}{/if {$is_kill==1}{perform dodge.hanxueliulan}}
/al k {wihand;perform finger.dian}
/al j {wiblade;do enable blade ittouryu,perform gobankiri} 
/al ki {
        wh;
        /var haspj 0;
        /var is_walk 0;
        do ability2,i,set target %0;
        cks;wianqi;
        /var target %0;
        de1 {buff};
        /delay {4.2}{
            hpp;
           /if {$shaqi>0 || $bgok_t==1}{bg}{ld};
            do gongji %0,kill %0;
            startk;
                    };
        }
/ac {^你对著%0！今日不是你死就是我活！} {de2 iskill;}
/ac {^只听你一声清喝，向后疾退三尺}{pj}
/ac {^你凌空翻身，右手紧执左手，左掌中}{;}
/ac {^小小刀纵身越到了}{pk}
/nop ------------
/al ps {/showme  === auto pf ===}
/al startk {
        /ticker {kill}{
        /if {$is_fight==0}{
           /delay {2}{pj;wh;};
            }
            buff;
            wwk;
            /if {$cutshen==0}{
            }
            }{4.1}
            }
/nop 『棋盘切』（gobankiri）
/nop 『百鬼夜狂』（hyakki）
/al reffs {do unwield jade,wield jade}
/al reffs {wield jade}
/al bg {/if {$hasbg==0}{do enable blade ittouryu,set secon_perform hyakki;reffs;}}
/al qie {do enable blade ittouryu,set secon_perform gobankiri;reffs;/showme ------- qie-------}
/al jj {do enable blade ittouryu,unwield needle,wield jade2,perform gobankiri;ld}
/al my {do enable blade chillblade,set secon_perform mingyue;reffs;}
/al ld {do enable blade chillblade,set secon_perform leidianjiaohong;reffs;}
/al kuang {do unwield all,wield blade,enable blade kuangfeng-blade;
            /nop 4 {do perform kuang,perform kuang,perform kuang};
            /8 {perform kuang};
            do unwield blade,wield jade,wield needle;
           ld}
/al wk {wianqi;perform wukongxuanliu;/showme ---- wk busy npc}
/var wkok 1
/ac {^你还需等待%1秒钟才能再次施出『无空漩流』}{ffl;/var wkok 0;/delay {%1}{/var wkok 1}}
/ac {^你微微一笑，突然翻转大袖}{/var wkok 0;/delay {12}{/var wkok 1}}
/al wwk {/if {$wkok==1}{wk}{ffl}} 
/al km {exert yinlingkouming;/showme ----km 防止伤害血的百分比}
/al sh {exert shuanghuaningjie}
/al zywq {cast zhaoyuwanqing}
/al jjj sh
/al jjjj {cast zhaoyuwanqing}
/var kmok 0
/ac {^忽似春临大地，万物融舒}{/var kmok 1}
/nop 『红藕香残』hongouxiangcan
/al ho {wianqi;perform hongouxiangcan;/showme ---- stop npc}
/al fl {wianqi;perform fengloufeiyan;/showme ---- 5 hit npc}
/al fl {wianqi;do perform qixingbanyue,perform fengloufeiyan;/showme ---- 5 hit npc}
/var flok 1;
/ac {^风漏飞烟需%1秒后才能再次使用。}{/var flok 0;/delay {%1}{/var flok 1}}
/ac {^只听你一声清喝，向后疾退三尺}{/var flok 0;/delay {20}{/var flok 1}}
/al ffl {/if {$flok==1}{fl}}
/al th {wianqi;perform tianheyixian;/showme ---- 天河 hit npc}
/nop『七星伴月』（qixingbanyue） 
/al qx {wianqi;perform qixingbanyue;/showme ---- 回血  npc}
/nop 技能检查
/var myok 1
/var bgok 0
/var bgok_t 0
/var qpok 0
/var qieok 1
/var qieok_t 0
/al okmy {/var myok 1}
/nop qx
/var qxok 1
/nop 百鬼busy效果
/var npcbusy 0
/var cutshen 0
/nop pk
/var qienpc 0
/ac {^你纵身越到了}{;}
/ac {^面对你雷霆一般的一击}{/var qienpc 1;}
/ac {^突然，一蓬鲜血激射}{
    /var npcbusy 6;
    /nop kuang;
}
/ac {^你乍然退步，旋身，反手}{
    iskill;
    /delay {0.3}{cks};
    /if {$qieok==1 || $qieok_t ==1 && qienpc==0}{qie}{ld};
    /var myok 0;
    /delay {241} {/var myok 1};
    de1 {/showme {------shaqi=$shaqi}};
    /nop delay {2.1} {/if {$shaqi>0 || $bgok_t==1}{bg}{ld}; /showme {------shaqi=$shaqi}; /nop wk; };
    }
/ac {^你突然仰天长嚎}{
    /delay {0.3}{cks};
    iskill;
    /if {$qieok==1 || $qieok_t ==1 && qienpc==0}{qie}{/if {$myok==1}{my}{ld};};
    /var bgok 0;
    /var bgok_t 0;
    /delay {121}{/var bgok_t 1};
    de1 {/showme {------shaqi=$shaqi}};
    /nop delay {2.5}{/if {$shaqi>0}{bg}{ /if {$myok==1}{my}{ld;}; }; /if {$qieok==1 || $qieok_t ==1}{qie;}; /showme {------shaqi=$shaqi}; };
}{4}
/ac {^刀云中突发裂帛之声}{
    iskill;
    /if {$cutshen==0}{
    };
    /if {$cutshen==0}{
            /if {$qieok==1 || $qieok_t ==1 && qienpc==0}{qie}{
                /if {$shaqi>0 || $bgok_t==1}{bg}{/if {$myok==1}{my};};
                                                             };
                 };
                         }
/var hasbg 0
/ac {^设定环境变数：secon_perform = "%1"}{
    /if {'%1'=='hyakki'}{/var hasbg 1}{/var hasbg 0};
}
/nop {^设定环境变数：secon_perform = "hyakki"}
/ac {^------shaqi=%1}{
    /if {%1>0}{bg}{
        /if {$bgok_t ==1}{bg}{
            /if {$qieok==1 || $qieok_t ==1 && qienpc==0}{qie}{
                    /if {$myok==1}{my}{ld;};
                            };
        };
    };
    }
/ac {^你根本无视%1的攻击，大吼一声}{
    iskill;
    cks;
    /showme {=========== qie ==============};
    /var qieok 0;
    /delay {60.2}{/var qieok_t 1};
    de1 {/showme {------shaqi=$shaqi}};
    /nop bg;
    /nop delay {2.1} { /if {$shaqi>0 || $bgok_t ==1}{bg}{ /if {$myok==1}{my}{ld;}; }; /showme {------shaqi=$shaqi}; }; 
    }
/nop qx 
/ac {^你一扬手，打出星星点点}{/var qxok 0;/delay {20.2}{/var qxok 1}}
/ac {将周身凝聚的冰块震得粉碎！！}{pj;pjj}
/ac {^但是被%1机灵地躲开了。}{de5 {pjj;/showme ----try to freeze again ----------------};}
/al stopk {
            /var cutshen 0;nokill;/unticker {kill};
            /var qieok 1;
            /var qieok_t 0;
            /undelay {checkqie};
            /undelay {checkbg};
            /var haspk 0;
            /var haspj 0;
            /var wkok 1;
            /var flok 1;
            /var bpjbok 1;
            /var wfok 1;
            get needle;
            /var hasbg 0;
            de1 look;
            }
/ac {^你的法力太低}{hp}
/ac {^( 你似乎十分疲惫}{wf}
/ac {^( 你头重脚轻，正在勉力支撑著不倒下去)}{jjj}
/ac {^( 你摇头晃脑、歪歪斜斜，濒于晕倒}{zywq;zh}
/ac {^( 你已经陷入半昏迷状态，神智全失}{zh}
/ac {^你所选用的武功中没有这种必杀技。}{;}
/ac {^『无空漩流』只能对战}{sk}
/ac {^『风漏飞烟』只能对战}{sk}
/ac {^『红藕香残』只能对战}{sk}
/ac {^『七星伴月』只能对战}{sk}
/ac {^『阴陵扣命』只能对战}{sk} 
/ac {^『棋盘切』只能对战}{sk}
/ac {^『雷电交轰』只能对战}{sk}
/al hs {drink dai}
/ac {^你的真气不够。}{/if {$is_kill==0 && $is_walk==0}{exercise 500;hn}}
/al qq {quest}
/al ffy {recall back;do w,n,e,e,e,n,u}
/ac {^任务被你完}{qq}
/al eatall {gb meat;drink dai;de2 {eat meat}}
/ac {^看起来%0想杀死你}{
           wianqi;
            /var knpc_name %0;
            iskill
                         }
/al wim {wifushou}
/ac {^你还需等待%1秒钟才能再次施出『红藕香残』}{qx}
/ac {^你还需等待%1秒钟才能再次施出『七星伴月』}{;}
/ac {^『天河一线』消耗体力极大，无法连续施展,需再等待%1秒。}{;}
/al fy2room {wlk;do d,s,w,u,e,u,u,u,u,u,u,u,u,u;roomin;nwlk}
/al room2fy {pl {wlk;out;d;d;d;d;d;d;d;d;d;w;d;e;n;u;nwlk};pr}
/al roomin {928}
/al getitem {
    pick needle;
    get needle from cactus bonsai;
     stack;
     retrieve 5954;
}
/al ks {bf3;/var cutshen 1;unwi all;ld;wiblade}
/ac {^小小刀凝聚起天地间十万妖魔}{/var haspk 1;de6 {/var haspk 0};de6 pk;}
/ac {^你对着小}{/var haspet 1}
/ac {^你手臂酸麻，一时无法拿起这件武器}{wianqi}
/ac {^你只觉得虎口一热，手中的}{wianqi}
/nop check kill status
/al ck {;}
/ac {^开始使用「刀法」的特殊技能「冰镜七诀」}{/al ck {perform leidianjiaohong}}
/ac {^开始使用「刀法」的特殊技能「一刀流剑术」}{/al ck {perform gobankiri}}
/nop L40 『他心移物』（telepathy）
/nop L80 『遗心忘恨』（yixinwanghe
/al checkkill {cast telepathy jade}
/al checkkill {perform blade.gobankiri;perform blade.leidianjiaohong}
/al checkkill {perform blade.gobankiri}
/ac {^然而，%1已经死了}{cks;/if {$is_kill==1}{checkkill}}
/ac {你手中的圆月弯刀一震，不知怎么就落在了地下}{wi jade2}
/nop ac {^你向%1开始移动。（40->35)}{/if {$qxok ==1}{/delay {1}{qx;unwiled needle;wiblade}}}
/nop ac {^你向%1开始移动。（35->30)}{/if {$qxok ==1}{qx;unwiled needle;wiblade}}
/nop ac {^你向%1开始移动。（30->25)}{/if {$qxok ==1}{qx;unwiled needle;wiblade}}
/ac {^│年龄：三岁                            │运气：%s%1/}{
    /var pyunqi %1;
    de1 {/showme pcaizhi =$pcaizhi pyunqi =$pyunqi};
    /if {$pcaizhi <14 || $pyunqi <14}{
    /nop dismissp $petname;
    /nop de2 yangcw
    }
}
/var haspet 0
/nop ac {^你一脚踢在小}{/var haspet 1;scorep;hp}
/al yangcw {
    /var haspet 0;
    withdraw 50000;de3 {withdraw 50000};
    de6 {yang monkey $HIY$ 小弯刀 $petname};
    de8 whistle;
    de10 {kick $petname};
    de11 {/if {$haspet==1}{score $petname;hp}};
    }
/ac {^│种族：野兽  性别：雄性  民族：本地生  │才智：%s%1/}{
/var pcaizhi %1;
}
/gag {^你已经在}
/ac {^你纵身越到}{kuang}
/nop ac {^此人已经在极度忙乱中了}{/var flfy_ok 0;/delay {6}{/var flfy_ok 1;wkxl}}
/ac {^此人身形未滞，想以『无空漩流』困}{/if {$is_kill==1}{ffl}}
/al kb {ki bandit;/delay {4}{do kill bandit 2,kill bandit 3,kill bandit 4,kill bandit leader}}
/ac {^『风漏飞烟』至少需要6枚暗器。}{take 8 1000;de1 wianqi}
/ac {^星芒流绕在}{pjj;qx}
/ac {^星芒流绕在}{pjuezhao2}
/ac {^你现在不可以吹口哨。}{}
/ac {^你对%1一指，对小弯刀命令}{/if {$is_kill==0}{startk}}
/ac {^  小弯刀的尸体(Corpse)}{wh}{4}
/ac {^你轻轻地吹了声口哨。}{/if {$is_kill==1}{de1 {wpet;do gongji $target,kill $target}}}
/ac {^你所选用的武功中没有这种必杀技}{take 8 200;wi needle}
/ac {^139级以后你可以通过给我10～17两黄金}{de2 {m1to 7}}
/al em {entermaze1}
/ac {^此人已经在极度忙乱中了（>3）}{pjuezhao2}
/ac {^你捡起一把仙人刺。}{i}
/al widef {wianqi}
